@CHARSET "UTF-8";

input[type=range] {
  /*-webkit-appearance: none;*/
  width: 80px;
  vertical-align: middle;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

canvas {
    background-color: transparent;
    position: absolute;
    z-index: 9999;
}

table td {
    background-color: white;
}

img {
    max-width: 100%;
}

#map {
    width: 100%;
    float: right;
}

#queryContainer {
    display: none;
    background: white;
    border: 2px solid black;
    padding: 10px;
    /*max-width: 393px;*/
}

.logos {
    width:220px;
    height:40px;
}

.awesome-marker i {
    font-size: 18px;
}

/*
#results {
    border-radius: 5px;
    border: 2px solid blue;
    flex-grow: 1;
}
*/

input[type='text'] {
    /*font-size: 52px;*/
}

.fireButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
    box-shadow:inset 0px 1px 0px 0px #f9eca0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
    background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
    background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
    background-color:#f0c911;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #e65f44;
    display:inline-block;
    cursor:pointer;
    color:#c92200;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:3px 14px;
    margin:5px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ded17c;
}
.fireButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
    background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
    background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
    background-color:#f2ab1e;
}
.fireButton:active:enabled {
    position:relative;
    top:1px;
}
.fireButton:disabled {
    background: #b5b5b5;
    border:1px solid #b5b5b5;
    box-shadow: none;
    color: #ffffff;
    cursor: not-allowed;
}

}