doctype html
html
 head
  title Citadel
  meta(name="google-signin-client_id", content="647740225111-42ei85rkp2o7pes54unj9lm9kqc2hvpg.apps.googleusercontent.com")
  script(src="https://apis.google.com/js/platform.js?onload=onLoad",async defer)
  script(type='text/javascript',src="/scripts/login.js")
 body
  div(align="center")
   h1 welcome #{context.username}
   p. 
    Your userToken is #{context.tokens}
  button(onclick="signOut()") Sign Out